<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Dan Maharry</title>
  <meta name="description" content="Dan Maharry is a writer and editor of many web development books. This is his home page.">
  <meta name="keywords" content="Dan Maharry, writer, editor, developer, html, asp.net, csharp, c#, sql server, visual studio, javascript, web standards, music, books">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet/less" type="text/css" href="/less/metro.less" />
  <script src="/scripts/modernizr-3.8.0.min.js"></script>
</head>
<body>
  <!--[if lt IE 7]><p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p><![endif]-->
  <h1>Dan Maharry</h1>
  <section>
    I&#8217;m an experienced technical author with over a dozen books to my name and many more as technical reviewer and editor for a variety of publishers including Wrox, Apress, Microsoft Press and O&#8217;Reilly Associates. I&#8217;m also a .NET developer with past stints for the dotCoop TLD registry and various web development houses under my belt. I listen to a lot of music as I write and code.
  </section>
  <article>
    <h2>Index</h2>
    <p>Use the index below to find the information you require.</p>
    <section id="local">
      <h3>Local</h3>
      <ul>
        <li><a href="journal.html">Journal</a></li>
        <li><a href="/music/bakersdozen.html">A Baker&#8217;s Dozen</a></li>
      </ul>
    </section>
    <section id="social">
      <h3>Social</h3>
      <ul>
        <li><a href="http://twitter.com/hmobius">Twitter</a></li>
        <li><a href="http://www.linkedin.com/in/hmobius">LinkedIn</a></li>
        <li><a href="http://tumblr.hmobius.com/">Tumblr</a></li>
        <li><a href="https://plus.google.com/108894515981857515808/">Google+</a></li>
        <li><a href="http://careers.stackoverflow.com/danmaharry">Profile On Careers.StackOverflow</a></li>
      </ul>
    </section>
    <section id="code">
      <h3>Code</h3>
      <ul>
        <li><a href="http://blog.hmobius.com">My Tech Blog</a> - online since 2001</li>
        <li><a href="https://pinboard.in/u:hmobius">Pinboard</a> - bookmarks</li>
        <li><a href="https://github.com/hmobius">Github</a></li>
        <li><a href="http://www.codeplex.com/site/users/view/hmobius">Codeplex</a></li>
        <li><a href="http://stackoverflow.com/users/2756/hmobius">Stack Overflow</a></li>
      </ul>
    </section>
    <section id="music">
      <h3>Music</h3>
      <ul>
        <li><a href="http://open.spotify.com/user/hmobius/playlist/4EYWjbkbaQ9obGtVpZm2ZC">Spotify</a> - current listening list</li>
        <li><a href="http://www.last.fm/user/hmobius">Last.fm</a></li>
        <li><a href="http://mixcloud.com/hmobius">Mixcloud</a></li>
        <li><a href="http://www.thisismyjam.com/hmobius">This Is My Jam</a></li>
      </ul>
    </section>
  </article>
  <footer>
    <p>Page last updated: <time datetime="2012-09-24">24 September 2012</time>.</p>
  </footer>
  <script type="text/javascript" src="/scripts/less-1.3.0.min.js"></script>
  <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jquery/jquery-3.4.1.min.js"></script>
  <script>window.jQuery || document.write('<script src="/scripts/jquery-3.4.1.min.js"><\/script>')</script>
  <script>
    var _gaq = [['_setAccount', 'UA-7038657-6'], ['_trackPageview']];
    (function (d, t) {
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
      g.src = ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s)
    }(document, 'script'));
  </script>
</body>
</html>
